.static-page {
  text-align: left;
  padding: 0px 100px 0px 100px;
}

.display-page {
  text-align: center;
  padding: 0px 100px 0px 100px;
}

.static-page > h1 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
  .static-page {
    padding: 0px 40px 0px 40px;
  }
}

.link-name:hover {
  text-decoration: underline;
}

#home-page .quote {
  color: white;
  bottom: 90px;
  left: 130px;
  position: fixed;
  font-size: 30px;
  line-height: normal;
  width: 60%;
  font-family: "Merriweather", serif !important;
}

@media screen and (max-width: 900px) {
  #home-page .quote {
    left: 0px;
    bottom: 0px;
    padding: 0 30px 30px 30px;
    width: 100%;
    text-align: center;
  }
}
